   	@font-face {
			font-family: ISO;
			font-weight: 700;
			src: url(ISO-v0.4-Bold-Web.woff) format('woff');
		}

		@font-face {
			font-family: ISO;
			font-weight: 400;
			src: url(ISO-v0.4-Regular-Web.woff) format('woff');
		}

    	* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		html {
			background-color: mintcream;
		}

		body {
			font-size: 1rem;
			line-height: 1.3;
			font-family: ISO;
			background-color: mintcream;
		}

		body.bg {
			background: repeating-radial-gradient(beige 50vw, aliceblue 100vh);
		}

		#feed a {
			color: black;
			border: 1px solid black;
			padding: 5px 2px;
		}


		#jaltera {
		  position: relative;
		  top: 20px;
		  left: 50%;
		  transform: translate(-50%, 0);
		  width: 85vw;
		  mix-blend-mode: difference;
		  z-index: 1;
	  	  /*pointer-events: none;*/
	  	  cursor: pointer;
		}

		#jaltera:hover path.st0 {
		  fill: #fff;

		}

		svg .st0 {
		  fill: none;
		  stroke: white;
		  stroke-width: 3;
		  stroke-miterlimit: 10;
		 }

		 .hidden {
		 	display: none;
		 }

		 .shown {
		 	display: block;
		 }

		 #about {
		 	position: fixed;
		 	top: 50%;
		 	left: 50%;
		 	transform: translate(-50%, -50%);
		 	z-index: 5;
		 	color: saddlebrown;
		 	background-color: mintcream;
		 	padding: 1em;
		 	box-shadow: 1em 1em 1em magenta;
		 	border-radius: 1em;
		 }


		main{
			padding: 5em 1em 1em 1em;
			display: grid;
			grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
			grid-gap: 1em;
		}

		main.home {
			margin: 3em 1em 1em 1em;

		}

		nav {
		  width: 100%;
		  display: flex;
		  justify-content: space-around;
  			position: absolute;
			left: 0;
			z-index: 2;
			padding: 25px;
		}

		nav a {
			text-decoration: none;
		}

		nav a:hover {
			background-color: magenta;
			color: mintcream;
		}

		.home nav a {
			color: mintcream;
		}

		.pocket nav a,
		.feed nav a,
		.pix nav a {
			color: brown;
			background-color: mintcream;
		}

		.pocket nav, 
		.feed nav,
		.pix nav {
			display: block;
			position: fixed;
			top: 25px;
			left: 50%;
			transform: translate(-50%, 0);
			margin-right: 20px;
		}

		ul {
			padding-left: 1em;
		}

		#myVideo {
		  position: fixed;
		  right: 0;
		  bottom: 0;
		  min-width: 100%;
		  min-height: 100%;
		  z-index: 0;
		}


		div.post {
			border: 1px solid black;
			padding: 1em;
			margin: 1em 0;
			border-radius: 1em;
			height: max-content;
			background-color: mintcream;
		}

		div.post img,
		#arena img,
		.pix img {
			width: 100%;
		}

		img:nth-child(4),
		img:nth-child(7) {
			grid-column: span 2;
		}

		#arena p {
			display: flex;
			align-self: end;
			margin: 10px;
		}

		footer {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			position: fixed;
			bottom: 1em;
			left: 1em;
		}

		#mc_embed_signup_scroll{
			display: flex;
		}

		.mc-field-group {
		    margin-right: 10px;
		}

		input {
			padding: 5px;
		}

		::selection {
		background-color: magenta;
		}


		@media screen and (max-width: 700px) {


			 footer {
				/*position: initial;*/
				display: block;
				margin: 1em;
			}

			 #mc_embed_signup_scroll{
				display: flex;
				align-items: flex-start;
			}

			input {
				height: 30px;
			}

			svg .st0 {
			  stroke-width: 4;
			 }
		}

		@media screen and (max-width: 550px) {

			#jaltera {
				/*position: initial;*/
				top: 0;
				left: 0;
				transform: none;
				width: auto;
				margin: 1em
			}

			main {
				display: block;
			}

			section#feed {
				margin: 1em auto 1.25rem auto;
			}

			section#arena{
				display: block;
				margin: 1em;
			}

			 #mc_embed_signup_scroll{
				flex-direction: column;
			}

			svg .st0 {
			  stroke-width: 5;
			 }

		}
